#horizontalmenu li ul {
    display: none;
    position: absolute;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 8px 35px 2.8px rgba(43, 106, 130, 0.16);
    padding-left: 10px;
}

#horizontalmenu li ul li a {
    color: #36349F !important;
}

#horizontalmenu li ul li {
    display: block;
    
}

@media screen and (max-width: 1001px) { 
    #horizontalmenu li ul {
        padding: 40px;
    }	
}

    $main-color: #3a395b;
    $secondary-color: #ebf4fb;
    $accent-color: #bcbdc1;
    $green-color: #07d174;
    $green-color-hover: #07eb80;

    .bg-main{
        background-color: $main-color;
    }

    .text-light{
        color: #FFFFFF;
    }

    .text-main{
        color: $main-color;
    }

    .bold{
        font-weight: 700;
    }

    .checkbox-holder{
        width: 45%;
        display: inline-block;
        border-radius: 4px;
        align-items: center;
    }

    .padding-inside-radio{
        padding: 10px 15px 10px 15px;        
    }

    .radio-button-input{
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        -ms-appearance: checkbox;
        font-size: 17px;
        font-family: 'Merriweather Sans', sans-serif;
    }

    .pointer{
        cursor: pointer;
    }

    .padding-radio-buttons{
        padding: 4px 0px 8px 0px;
        width: 100%;  
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        font-size: 14px;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $green-color;
        background: transparent;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '\2713';
        width: 12px;
        height: 12px;
        color: $green-color;
        left: 3.5px;
        position: absolute;
        top: -1px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .select_box_year{
        width: 80px;
        background: transparent;
        color: #91aac0;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        border: none;
        letter-spacing: 0.15em;
    }

    .option_box{
        background: $main-color;
    }

    .select_box_year{
        -webkit-appearance: menulist;
    }

    