#horizontalmenu li ul {
    display: none;
    position: absolute;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 8px 35px 2.8px rgba(43, 106, 130, 0.16);
    padding-left: 10px;
}

#horizontalmenu li ul li a {
    color: #36349F !important;
}

#horizontalmenu li ul li {
    display: block;
    
}

@media screen and (max-width: 1001px) { 
    #horizontalmenu li ul {
        padding: 40px;
    }	
}

    $main-color: #3a395b;
    $secondary-color: #ebf4fb;
    $accent-color: #bcbdc1;
    $green-color: #07d174;
    $green-color-hover: #07eb80;

    .bg-main{
        background-color: $main-color;
    }

    .text-light{
        color: #FFFFFF;
    }

    .bold{
        font-weight: 700;
    }

    .checkbox-holder{
        display: inline-block;
        border-radius: 4px;
        align-items: center;
    }

    .padding-inside-radio{
        padding: 5px 3px 5px 3px;        
    }

    .radio-button-input{
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        -ms-appearance: checkbox;
        font-size: 17px;
        font-family: 'Merriweather Sans', sans-serif;
    }

    .pointer{
        cursor: pointer;
    }

    .padding-radio-buttons{
        padding: 14px 14px 16px;
        width: 100%;  
    }

    /* Customize the label (the container) */
.checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .checkmark-container input {
    position: absolute;
    opacity: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .checkmark-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkmark-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkmark-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .checkmark-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }